script(src="js/jquery.js")
script(src="js/modal.js")
script(src="js/jquery.nicescroll.min.js")
script(src="js/select2.full.min.js")
script(src="js/tooltipster.bundle.min.js")
script(src="js/function.js?"+version+"")
