extends layout2/layout.pug
block content
    .container_center
        h1.pageTitle Вход в аккаунт

        .login
            .login__form
                .form__label Введите данные для входа
                .form__row
                    .form__item.form__item_full
                        +input("Ваш e-mail")
                    .form__item.form__item_full
                        +input("Ваш пароль")
                button.btn(type="submit") Вход
                .login__links
                    div Еще нет аккаунта? 
                        a(href="registration.html") Зарегистрироваться
                    a(href="reset.html") Забыли пароль?

                .login__info
                    p Для поступления в университет, внимательно ознакомьтесь c материалами на сайте приёмной комиссии, а затем пройдите 
                        a(href="") процедуру регистрации.
                    p Так же Вы можете ознакомиться с 
                        a(href="") "Руководством пользователя" и 
                        a(href="") "Видеоинструкцией"
                        |. 
                    p Вы можете посмотреть весь 
                        a(href="") рейтинг поданных заявлений.

            .login__content
                .login__img
                    img(src="img/login.jpg", alt="")
                .login__text
                    h3 Уважаемые поступающие!

                    p Вы приняли ответственное решение – связать свою судьбу с ВГУЮ (РПА Минюста России). Нашему Университету в 2020 году исполняется 50 лет и к своему юбилею он стал одним из крупнейших высших учебных заведений страны.
                    p В настоящее время в Университете обучаются более 26 тысяч студентов в 15 филиалах по всей России, а занятия ведут признанные в мире юриспруденции ученые и практики.
                    p ВГУЮ (РПА Минюста России) реализует все уровни образования: в составе Университета есть Русская классическая гимназия, колледж, бакалавриат, три специалитета, магистратура, аспирантура и докторантура. В нашем Университете Вы получите качественные знания и запомните студенческие годы как самые интересные и насыщенные!
