extends layout/layout.pug
block variables
    - pageNum = 2;
    - pageName = "Выбор направления подготовки";
block content
    // begin notification
    .notification
        i.icon_alert 
        .notification__text Просьба ознакомиться с 
            a(href="") Руководством пользователя 
            | и 
            a(href="") Видеоинструкцией по работе с порталом 
            | перед началом заполнения данных

        .notification__action
            button.btn.btn_contrast Закрыть уведомление

    // end notification

    .box
        .box__title О направлениях

        // begin directions
        .directions
            .directions__left
                .directions__text
                    p Приёмная комиссия благодарит Вас за то, что Вы выбрали ВГУЮ (РПА Минюста России) для поступления и предлагает Вам заключить договор об оказании платных образовательных услуг.
                    p Для заключения договора просим Вас направить письмо на адрес электронной почты филиала в который в который Вы собираетесь поступать.
                    p Приёмная комиссия благодарит Вас за то, что Вы выбрали ВГУЮ (РПА Минюста России) для поступления и предлагает Вам заключить договор об оказании платных образовательных услуг.
                    p Для заключения договора просим Вас направить письмо на адрес электронной почты филиала в который в который Вы собираетесь поступать.

                .directions__sub Выберите направления подготовки
                .directions__checks
                    +checkbox("География")
                    +checkbox("Черчение")
                    +checkbox("Геометрия", true)
                    +checkbox("Астрофизика сверхмассивных черных дыр", true)
                    +checkbox("Физика", true)
                    +checkbox("Тригонометрия", true)
                    +checkbox("Химия")
                    +checkbox("Физика летательных аппаратов")
                    +checkbox("Биология")
                .directions__action
                    button.btn Сохранить
            .directions__img
                img(src="img/directions.jpg", alt="")


        // end directions
