extends layout/layout.pug
block variables
    - pageNum = 3;
    - pageName = "Договор";
block content
    // begin notification
    .notification
        i.icon_alert 
        .notification__text Просьба ознакомиться с 
            a(href="") Руководством пользователя 
            | и 
            a(href="") Видеоинструкцией по работе с порталом 
            | перед началом заполнения данных

        .notification__action
            button.btn.btn_contrast Закрыть уведомление

    // end notification

    .contract.box
        .contract__top
            .box__title Договор
            .box__label Информация о плательщике
            .contract__check
                +radio("Плательщик по договору (заказчик) и абитуриент одно и то же лицо ", "info", true)
                +radio("Плательщик по договору (заказчик) не является абитуриентом", "info")
                +radio("Плательщик по договору (заказчик) является юридическим лицом (организация, действующая на основании устава или положения, имеющая гербовую печать и расчетный счет в банке)", "info")
            .contract__save
                button.btn Сохранить информацию о плательщике

        .contract__text
            p 
                b Уважаемый абитуриент! <br>
                | Приёмная комиссия благодарит Вас за то, что Вы выбрали ВГУЮ (РПА Минюста России) для поступления и предлагает Вам заключить договор об оказании платных образовательных услуг. <br> Для заключения договора просим Вас направить письмо на адрес электронной почты филиала в который в который Вы собираетесь поступать.
            p Абитуриентов поступающих в Головной ВУЗ в г.Москве, просим 
                a(href="") ознакомиться с информацией

        .table.table_border
            .table__head
                .table__row
                    .table__col Филиал
                    .table__col Электронная почта
                    .table__col Телефоны
            .table__body
                -
                    data = [
                        {0: 'Головной ВУЗ, г. Москва', 1: 'pkrpamu@gmail.com', 2: '8 (499) 963-01-01, доб. 3300'},
                        {0: 'Дальневосточный институт, г.Хабаровск', 1: 'abiturientdv@yandex.ru', 2: '8 (4212) 94-01-69'},
                        {0: 'Ижевский институт, г. Ижевск', 1: 'priem.rpa@mail.ru', 2: '8 (3412) 940-308'},
                        {0: 'Иркутский институт, г. Иркутск', 1: 'priem.irk@rpa-mjust.ru', 2: '8 (3952) 200-536'},
                        {0: 'Казанский институт, г. Казань', 1: 'priem@kazanrpa.ru', 2: '+7 (927) 249-51-55'},
                        {0: 'Калужский иститут, г. Калуга', 1: 'allasenkina@gmail.com', 2: '8 (4842 )220-109'},
                        {0: 'Поволжский институт, г. Саратов', 1: 'priem.rpa@rambler.ru', 2: '+7 (8452) 57-47-48'},
                        {0: 'Ростовский институт, г. Ростов-на-Дону', 1: 'priem.vguy@yandex.ru', 2: '+7 (863) 308-95-34, +7 (863) 308-95-24, +7 (863) 201-81-40, +7 (863) 201-84-24'},
                        {0: 'Санкт-Петербургский институт, г. Санкт-Петербург', 1: 'pk@szfrpa.ru', 2: '+7 (812) 328-45-21'},
                        {0: 'Северный Институт г. Петрозаводск', 1: 'andrey.sousov@mail.ru', 2: '+7 (911) 434-43-14'},
                        {0: 'Северо-Кавказский институт, г. Махачкала', 1: 'priem-mcx@rpa-mjust.ru', 2: '+7 (8722) 51-57-08, +7 (989) 452-05-52'},
                        {0: 'Сочинский Филиал, г. Сочи', 1: 'priem.sch@rpa-mjust.ru', 2: '8 (862) 444-02-33'},
                        {0: 'Средне-Волжский институт, г. Саранск', 1: 'rpa_saransk@mail.ru', 2: '+7 (927) 275-70-01, +7 (8342) 24-05-23'},
                        {0: 'Тульский институт, г. Тула', 1: 'priem.tul@rpa-mjust.ru', 2: '8 (4872) 700-224'},
                    ]
                each item in data

                    .table__row
                        .table__col.table__col_name=item[0]
                        .table__col.table__col_full
                            a(href="")=item[1]
                        .table__col.table__col_full=item[2]
