extends layout/layout.pug
block variables
    - pageNum;
    - pageName = "Наши филиалы";
block content
    each item in ['Федеральное государственное бюджетное образовательное учреждение высшего образования «Всероссийский государственный университет юстиции (РПА Минюста России)»', 'Дальневосточный институт (филиал) федерального государственного бюджетного образовательного учреждения высшего образования «Всероссийский государственный университет юстиции (РПА Минюста России)»', 'Ижевский институт (филиал) федерального государственного бюджетного образовательного учреждения высшего образования «Всероссийский государственный университет юстиции (РПА Минюста России)»', 'Иркутский институт (филиал) федерального государственного бюджетного образовательного учреждения высшего образования «Всероссийский государственный университет юстиции (РПА Минюста России)»', 'Казанский институт (филиал) федерального государственного бюджетного образовательного учреждения высшего образования «Всероссийский государственный университет юстиции (РПА Минюста России)»', 'Калужский институт (филиал) федерального государственного бюджетного образовательного учреждения высшего образования «Всероссийский государственный университет юстиции (РПА Минюста России)»', 'Поволжский институт (филиал) федерального государственного бюджетного образовательного учреждения высшего образования «Всероссийский государственный университет юстиции (РПА Минюста России)»', 'Ростовский институт (филиал) федерального государственного бюджетного образовательного учреждения высшего образования «Всероссийский государственный университет юстиции (РПА Минюста России)»', 'Санкт-Петербургский институт (филиал) федерального государственного бюджетного образовательного учреждения высшего образования «Всероссийский государственный университет юстиции (РПА Минюста России)»', 'Северный институт (филиал) федерального государственного бюджетного образовательного учреждения высшего образования «Всероссийский государственный университет юстиции (РПА Минюста России)»', 'Северо-Кавказский институт (филиал) федерального государственного бюджетного образовательного учреждения высшего образования «Всероссийский государственный университет юстиции (РПА Минюста России)»', 'Сочинский филиал федерального государственного бюджетного образовательного учреждения высшего образования «Всероссийский государственный университет юстиции (РПА Минюста России)»', 'Средне-Волжский институт (филиал) федерального государственного бюджетного образовательного учреждения высшего образования «Всероссийский государственный университет юстиции (РПА Минюста России)»', 'Тульский институт (филиал) федерального государственного бюджетного образовательного учреждения высшего образования «Всероссийский государственный университет юстиции (РПА Минюста России)»']
        .filial
            .filial__name=item
            .filial__props
                .filial__row
                    .filial__label Адрес: 
                    .filial__prop 127051, г. Москва, Большой Каретный переулок, д. 10а
                .filial__row
                    .filial__label E-mail: 
                    .filial__prop
                        a(href="mailto: priem.moscow@rpa-mjust.ru") priem.moscow@rpa-mjust.ru
                .filial__row
                    .filial__label Телефон: 
                    .filial__prop 8-499-963-01-01, доб. 3300
                .filial__row
                    .filial__label График работы ПК: 
                    .filial__prop Пн-Пт с 9:00 - 18:00, сб 9:00 - 14:00, вс - выходной. Прием документов с 20 июня 2020
