extends layout2/layout.pug
block content
    .centerBox
        .reset
            .reset__title Сброс пароля
            .form__group
                a.btn.btn_small(href="reset.html") Сброс по e-mail
                a.btn.btn_small.btn_muted(href="reset2.html") Сброс по номеру телефону

            .reset__sub Введите свой e-mail, и мы вышлем для Вас новый временный пароль, с помощью которого, Вы сможете зайти на сайт и установить новый.

            .reset__form
                .reset__field
                    +input("Введите вашу электронную почту")
                .reset__btn
                    button.btn(type="submit") Сбросить пароль
            .reset__link
                a(href="authorization.html") Ввести логин и пароль
