footer.footer
    .footer__content
        a.logo.logo_inline(href="/")
            img(src="img/logo-gray.svg", alt="")
            span.logo__name Всероссийский государственный университет юстиции

        .footer__links
            a(href="filials.html") Наши филиалы

        .footer__privacy
            a(href="") Политика конфендициальности
