header.header.header_primary
    .header__content
        a.logo.logo_inline(href="/")
            img(src="img/logo.svg", alt="")
            span.logo__name Всероссийский государственный университет юстиции

        .header__group
            .lang
                select
                    option(value="RU") RU
                    option(value="EN") EN
            .user
                .user__links
                    a(href="") Регистрация
                    ||
                    a(href="authorization.html") Вход
